@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    
    --cor-bg: #050714;
    --bg-footer: #0e0b13;
    --cor-subtitle: #bdbdbd;
    --bg-botao:#00d9e6;
    --hoverBotao:#06cddb ;
    --Cortext-botao: #004e5e;
    --bg-perguntas: #12151c;

    --font: "Nunito", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor-bg);
}

h1,p,h3{
    color: #fff;
}

.container{
    position: relative;

    header{
        width: 100%;
    
        padding: 15px 20px;
        position: sticky;
        
        nav{
            float: right;
            list-style: none;

            li a{
                z-index: 1;
                font-size: 20px;
                color: #fff;

                text-decoration: none;
                border: 1px solid var(--cor-subtitle);
                border-radius: 6px;
                padding: 7px 20px;
            }
        }
    }

    /* banner */

    .banner{
        display: flex;
        justify-content: space-between;

    
        picture{
        
            img{    
                width: 48%;
                position: absolute;
                right: 0;
                top: 10px;
                z-index:-1;
            }
            
        }

        .contentPrice{
           
           
            margin: 110px 90px;

            img{
                
                margin-bottom: 20px;
            }

            h1{
                font-size: 47px;
                margin-bottom: 14px;
            }

            h3{
                font-size: 1.7rem;
                margin-bottom: 13px;
                font-weight: 400;
            }

            a{
                color: #fff;
                font-size: 15px;
                display: block;
                margin-bottom: 50px;
            }

            .fa-solid{
                color: #fff;
                font-size: 1.5rem;
                animation: puleArrow 2s linear infinite;
                transition: .8s all;
            }
            
            .botaoPremium{
                display: flex;
                width: 600px;
                gap: 20px; 
                
                p{
                    font-size: 14px;
                    margin-bottom: 30px;
                    font-weight: 400;
                    line-height: 1.7;

                    span{
                        text-transform: uppercase;
                    }
                }

                .botaoPadrao{
                    width: 350px;

                    & button{
                        width: 100%;
                        padding: 15px;
                        border-radius: 4px;
                        border: 0;
                        outline: none;
                        background-color: var(--bg-botao);
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        cursor: pointer;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@keyframes puleArrow{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(-3.5px);
    }
}




